<%= render 'layouts/header' %>

<h1>Timeline</h1>

<%= render 'post_form', post: @post %>

<body>
  <% @posts.each do |post| %>
    <div id='box'>
      <div id='name'>
        <%= post.author.full_name %>
      </div>
      <div>
        <%= post.body %>
      </div>
      <div id='like_block'>
        <div id="like_button_<%= post.id %>">
          <%= render 'like_button', post: post %>
        </div>
        <div id="likes_<%= post.id %>">
          <%= post.likes %>
        </div>
      </div>
      <div>
        <%= render 'comment_form', comment: @comment, post: post.id %>
      </div>
      <div id="comments_<%= post.id %>">
        <% post.comments.each do |comment| %>
          <%= render 'single_comment', comment: comment %>
        <% end %>
      </div>
    </div>
    </div>
  <% end %>
</body>
